<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'marcarExame/images/favicon.png' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{% static 'marcarExame/css/myScripts.js' %}"></script>
</head>
<body>


{% block feedback %}

    {% if messages %}
        <div id="ErrorMessages">
            <ul>
                {% for message in messages %}
                    <li id="errorAlert" style="list-style: none ; font-weight: bold ;text-align:center"
                            {% if message.tags == "error" %} class="alert alert-danger" {% endif %}
                            {% if message.tags == "success" %} class="alert alert-success" {% endif %}>
                        {{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

{% endblock %}



<div class="container">
    <h2>Register</h2>
    <form class="form-horizontal" action="{% url 'marcarExame:register' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label class="control-label col-sm-2" for="username">Username:</label>
            <div class="col-sm-10">
                <input class="form-control" id="username" placeholder="Enter username" name="username" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="first_name">First Name:</label>
            <div class="col-sm-10">
                <input class="form-control" id="first_name" placeholder="Enter first name" name="first_name" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="last_name">Last Name:</label>
            <div class="col-sm-10">
                <input class="form-control" id="last_name" placeholder="Enter last name" name="last_name" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="birth_date">Birth Date:</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="birth_date" name="birth_date" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="phone">Phone Number:</label>
            <div class="col-sm-10">
                <input type="tel" class="form-control" id="phone" name="phone" pattern="[0-9]{9}"
                       placeholder="912345678" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="address">Street Address:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="address" placeholder="Enter address" name="address"
                       required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="nhs">NHS Number:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="nhs" pattern="[0-9]{9}" placeholder="Enter NHS number"
                       name="nhs" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password"
                       required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="id_img">Profile Photo:</label>
            <div class="col-sm-10">
                <input type="file" class="form-control" id="id_img" name="img" required>
            </div>
        </div>
        <br/><br/><br/>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </form>

</div>

</body>
</html>