{% extends "./dash.html" %}

{% block title %}
    <title>Register Medic</title>
{% endblock %}

{% block content %}

    <div class="info">
        <h1>Reviews</h1>
        <br/>
    </div>

    <div class="container">
        <form class="form-horizontal" action="{% url 'marcarExame:reviews' %}" method="post"
              enctype="multipart/form-data">
            {% csrf_token %}
        
        <div class="rate73" style="margin-bottom:20px">
            <input type="radio" id="star5" name="rate" value="5" />
            <label for="star5" title="text">5 stars</label>
            <input type="radio" id="star4" name="rate" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star3" name="rate" value="3" />
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star2" name="rate" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star1" name="rate" value="1" />
            <label for="star1" title="text">1 star</label>
        </div>
            <input class="form-control" id="comment_box" placeholder="Leave your comment" name="comment_box" required>
            <br/>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <ul style="padding:0;margin-top:50px;list-style-type: none;">
            <h2>Other Reviews:</h2>
            <br/>
            {% for review in reviews_list %}
            
                <li>
                    <label> {{review.idCliente}}:</label>
                    <br/>
                    {% with ''|center:review.rating as range %}
                    {% for i in range %}
                   
                    <span class="fa fa-star checked"></span>
                    {% endfor %}
                    {% endwith %}
                    <br/>
                    <label>{{review.review}}</label>
                </li>
                <br/><br/>
            {% endfor %}
        </ul>
    </div>

    

{% endblock %}
